<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SMARFAST HOMEPAGE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="./style.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">SMARTFAST</span>

      <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>

  <div class="modal true" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">MENU</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <ul class="list-group list-group-flush">
            <li class="list-group-item"> <span class="material-icons">
                grid_view </span>DASHBOARD</li>

            <li class="list-group-item"> <span class="material-icons">
                description
              </span>FORMULÁRIOS </li>
            <li class="list-group-item"> <span class="material-icons">
                grid_view </span> RELATÓRIOS</li>
            <li class="list-group-item"> <span class="material-icons">
                description
              </span>PROJETOS </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="card1">
        <div class="card-header">
          <hi class="card-title"> F0RMULÁRIOS</hi>
        </div>
        <div class="card-body">

          <p class="card-text"> Área destinada para o preenchimento das atividades diárias feitas pela equipe.
          </p>
          <a href="#" class="btn btn-success btn-sm"> PREENCHER</a>

          <div class="card-footer">
            <img src="img/iconformulario.png">
          </div>
        </div>
      </div>
    </div>

    <div class="card2" style="width: 250px;">
      <div class="card-header">
        <hi class="card-title"> RELATÓRIOS</hi>
      </div>
      <div class="card-body">
        <p class="card-text"> Opção para ao acesso aos relatórios mensais.</p>
        <a href="#" target="_blank" class="btn btn-secondary"> ACESSE</a>
      </div>
      <div class="card-footer"> <img src="img/iconrelatorio.png"></div>
    </div>
    <div class="card3" style="width: 250px;">
      <div class="card-header">
        <hi class="card-title">PROJETOS</hi>
      </div>
      <div class="card-body">
        <p class="card-text"> Opção para listar, adicionar,  editar e excluir projetos.</p>
        <a href="#" target="_blank" class="btn btn-secondary"> ACESSE</a>
      </div>
      <div class="card-footer"> <img src="img/iconprojeto.png"></div>
    </div>
  </div>
  <div class="card4" style="width: 250px;">
    <div class="card-header">
      <hi class="card-title"> GRÁFICOS</hi>
    </div>
    <div class="card-body">
      <p class="card-text"> Opção para visualizar os gráficos mensais.</p>
      <a href="#" target="_blank" class="btn btn-secondary"> ACESSE</a>
    </div>
    <div class="card-footer"> <img src="img/icongrafico.png"></div>
  </div>

</body>

</html>